<h2>You are not authorized to access this page.</h2>

<%= link_to 'Log in', new_user_session_path, class: 'btn btn-link' %>

<h3>Or</h3>

<%= link_to 'Sign in', user_session_path, class: 'btn btn-link' %>
